<%- include ("partials/header") -%>
	<div class="background backgroundRose"></div>
	<div class="backgroundOverlay"></div>
	<div class="content roseContent">
		<div class="header">
			<div class="logoWrap">
				<img src="/logos/Vinfo_rose.svg" width="50">
			</div>
			<div class="powered">
				Powered by <a href="#">vinfo.rs</a>
			</div>
		</div>
		<div class="mainTitle">Sava Minić</div>
		<div class="videoWrap" data-fullscreen="0">
			<div style="position:relative">
				<video>
					<source src="/videos/proizvodnja-roze.mp4" type="video/mp4">
				</video>
				<div class="overlay" onclick="playVideo(this.parentElement.parentElement)"></div>
				<img src="/icons/Play-Button.png" class="playButton" onclick="playVideo(this.parentElement.parentElement)">
				<div class="playerClose" onclick="playVideo(this.parentElement.parentElement)">X</div>
			</div>
		</div>
		<div class="bottleWrap">
			<div class="imageWrap">
				<img src="/images/Sava-Minic-Roze.png">
			</div>
			<div class="bottleInfo">
				<div class="title">Sava Minić</div>
				<div class="subTitle">Lily - <span class="thin">Roze vino</span></div>
				<div class="paragraph">
					Sava Minić Lily je napravljen tradicionalnim načinom pravljenja roze vina. Minici ga neguju i čuvaju na svom porodničnom imanju. Vino se odlikuje ruzicastom bojom i blagim ukusom. Da bi pokazalo lepotu ukusa, arome-bukea treba ga konzumirati od 18-20°C.
				</div>
				<div class="wineContentsWrap">
					<div class="subTitle">Sastav:</div>
					<div class="wineContentWrap">
						<div class="name">
							Crveno (50%) - 
						</div>
						<div class="percentage">
							<div class="powerBar" data-power="50"></div>
						</div>
					</div>
					<div class="wineContentWrap">
						<div class="name">
							Belo (50%) - 
						</div>
						<div class="percentage">
							<div class="powerBar" data-power="50"></div>
						</div>
					</div>
					<div class="subTitle">
						Berba:
					</div>
					<div>2020</div>
				</div>
				<div class="temperatureWrap">
					<div class="subTitle">Serviranje:</div>
					<div class="temperatureIconWrap">
						<img src="/icons/Vinfo_rose_Temp.svg" width="100">
						<div class="temperature">
							19&#176;C
						</div>
					</div>
				</div>

				<!--<div class="button">
					<a href="#">Link</a>
				</div>
				<div class="button">
					Button
				</div>-->
			</div>
		</div>
	</div>
	<script src="/js/videoControls.js"></script>
<%- include ("partials/footer") -%>