<%- include ("partials/header") -%>
	<div class="background backgroundWhite"></div>
	<div class="backgroundOverlay"></div>
	<div class="content whiteContent" style="height:2000px;">
		<div class="header">
			<div class="logoWrap">
				<img src="/logos/Vinfo_white.svg" width="50">
			</div>
			<div class="powered">
				Powered by <a href="#">vinfo.rs</a>
			</div>
		</div>
	</div>
<%- include ("partials/footer") -%>